  <div class="fixed-top" *ngIf="showMenu()">
    <div>
      <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container main-container">
          <app-menu-component style="width: 100%;"></app-menu-component>
        </div>
      </nav>
      
    </div>

    <!--main nav start-->

    <nav class="navbar navbar-expand-md bg-body-tertiary">
      <div class="container d-flex justify-content-between align-items-center">
        <h1 class="text-success">LSapato</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" *ngIf="showMenu()" [routerLinkActiveOptions]="{exact : true}" routerLinkActive="active" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="showMenu()"  [routerLinkActiveOptions]="{exact : true}" routerLinkActive="active" [routerLink]="['/vendas']">Produtos</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" *ngIf="showMenu()"  [routerLinkActiveOptions]="{exact : true}" routerLinkActive="active" [routerLink]="['vendas/pedidos']">Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="showMenuAuth('ADMIN')" [routerLinkActiveOptions]="{exact : true}" routerLinkActive="active" [routerLink]="['/admin']">Admin</a>
            </li>
            
          </ul>     
          
        </div>   
       <app-carrinho *ngIf="showMenu()" ></app-carrinho>        

      </div>
      
    </nav>
    <!--main nav end-->
    