
<div class="container-bd"style="margin-left: -20%;margin-top: 5%;">
    <div class="container">
        <div class="forms">
            <a [routerLink]="['/admin/usuarios/alterar-senha']" ><i class="fa-solid fa-backward icon back" data-bs-toggle="tooltip" data-bs-placement="top" title="Voltar"></i>
            </a>
            <div class="form login">
                
                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <br>
                    <h5 id="msgRetorno">Opa! Alguma coisa não deu certo:</h5>
                    <ul>
                        <li *ngFor="let error of errors">{{error}}</li>
                    </ul>
                </div>

                <span class="title">Alterar a senha</span>                
                <form novalidate [formGroup]="cadastroForm" (ngSubmit)="atualizarUsuario()">

                    <div class="input-field">
                        <input type="text" placeholder="Insira o nome" formControlName="nome" readonly />                
                        <i class="fa-solid fa-user icon"></i>
                        
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Insira o email" formControlName="email" readonly/>
                        <i class="fa-solid fa-envelope icon"></i>   
                    </div>
                    <div class="input-field"  [ngClass]="{'input-invalid': isInputInvalid('senha'),'input-valid': isInputValid('senha')}">
                        <input [type]="fieldTextType ? 'text' : 'password'" placeholder="Insira a nova senha" formControlName="senha" />
                        <span class="text-danger" *ngIf="isInputInvalid('senha')">
                            <p>Insira no minimo 5 caracteres</p>
                        </span>
                        <i class="fa-solid fa-lock icon"></i>
                        <i
                            class="fa-solid showHidePw"
                            [ngClass]="{
                              'fa-eye-slash': !fieldTextType,
                              'fa-eye': fieldTextType
                            }"
                            (click)="toggleFieldTextType()"
                          ></i>
                    </div>
                    <div class="input-field button">
                            <input type="submit" [disabled]="!cadastroForm.valid" value="Atualizar">
                    </div>                  
                </form>
                
            </div>
        </div>
    </div>
</div>