<div class="container main-container" style="margin-top: 10%; margin-left: 5px;">
  <div class="container">

    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h4><b>Gerenciar senhas</b></h4>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
      </div>
      <div class="col-md-6 mx-auto" style="margin-bottom: 7px;">
        <input type="text" class="form-control" [placeholder]="getPlaceholder()" [formControl]="queryField">

        <div class="row mx-auto" style="margin-top: 3px;">
          <div class="form-check col-4 "style="padding-left: 30%;">
            <input class="form-check-input" type="radio" value="2" [checked]="escolhaRadio ===2" (click)="selecionarRadio(2)" name="flexRadioDefault" id="email">
            <label class="form-check-label" for="email">
              Email
            </label>
          </div>
          <div class="form-check col-4"style="padding-left: 25%;">
            <input class="form-check-input" type="radio" value="3" [checked]="escolhaRadio ===3" (click)="selecionarRadio(3)" name="flexRadioDefault" id="cpf">
            <label class="form-check-label" for="cpf">
              CPF
            </label>
          </div>
        </div>
        
      </div>
    </div>
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>CPF</th>
          <th>Perfil</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let usuario of usuarios">
          <td><b>{{usuario.id}}</b></td>
          <td>
            <div class="d-flex align-items-center">
              <img src="https://picsum.photos/200/300" class="rounded-circle" alt=""
                style="width: 45px; height: 45px" />
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ usuario.nome }}</p>
                <p class="text-muted mb-0">{{ usuario.email }}</p>
              </div>
            </div>
          </td>
          <td>

            <p class="text-muted mb-0">{{ usuario.cpf }}</p>
          </td>
          <td>
            <span>{{ usuario.tipoUsuario}}</span>
          </td>
          <td>ATIVO</td>
          <td>
            <a [routerLink]="[usuario.id]" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Alterar">
              <i class="fa-solid fa-lock"></i></a>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

  <tr>
    <td *ngIf="usuarios?.length == 0" colspan="6">Nenhum usuario encontrado</td>

</tr>
</div>