<section style="margin-top: 5%;">
  <div class="text-center container py-5">

    <h4 class="mt-4 mb-5"><strong>Produtos</strong></h4>
    <div class="col-md-6 mx-auto" style="margin-bottom: 7px;">
      <input type="text" class="form-control" placeholder="Pesquisar produto" [formControl]="queryField">
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let produto of produtos">
        <app-card-produto [produto]="produto"></app-card-produto>
      </div>
    </div>
  </div>
</section>