
<div class="container">
  <div class="dropdown">
    <button class="btn btn-outline-success dropdown-toggle" type="button" id="cartDropdown" data-bs-toggle="dropdown" >
      <i class="fa fa-shopping-cart"></i> Cart <span class="badge">{{ quantidadeItems() }}</span>
    </button>
    <div class="dropdown-menu dropdown-transparent-bg"  aria-labelledby="cartDropdown">
        <div class="container-cr">
          <div class="shopping-cart carrinho-detalhe">
            <div class="detalhe-carrinho">
                <div class="shopping-cart-header ">
                    <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{ quantidadeItems() }}</span>
                    <div class="shopping-cart-total">
                    <span class="lighter-text">Total: </span>
                    <span class="main-color-text">{{valorTotal() | currency: 'BRL'}}</span>
                    </div>
                </div>
                <ul class="shopping-cart-items"  *ngFor="let item of carrinho; let i = index">
                    <a href="javascript:void(0)" class="d-flex align-items-center 
                    justify-content-end text-decoration-none text-dark delete-button" (click)="removerDoCarrinho(i)"><i class="fa-solid fa-x"></i></a>
                    <li class="clearfix">
                    <img [src]="item.imgUrl" class="rounded-squad"
                    alt=""
                    style="width: 45px; height: 45px"/>
                    <span class="item-name">{{item.nome}}</span>
                    <span class="item-name">Cor: {{item.cor}}</span>
                    <span class="item-name"style="margin-left: 55px;">Tamanho: {{item.tamanho}}</span>
                    <span class="item-price">{{item.preco | currency: 'BRL'}}</span> 
                    <span class="item-quantity">Quantidade: {{item.qtd}}</span>
                    </li>
                </ul>
            </div>
            <button [routerLink]="['vendas/checkout']" [disabled]="carrinho.length < 1 ? true : false"  class="button">Checkout</button>
          </div>
        </div>
  </div>
</div> <!--end container -->

