<div class="container main-container">
    <div class="d-flex align-items-center justify-content-center" style="margin-top: 19%;">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Pagina não encontrada.</p>
            <p class="lead">
                A página que você está procurando não existe!
            </p>
            <a [routerLink]="['/home']" class="btn btn-primary">Home</a>
        </div>
    </div>
</div>